* {
    margin: 0px;
    padding: 0px;
}
.Navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftNav{
    padding-left: 3vw;
}
.rightNav{
    padding-right: 3vw;
}

.img {
    height: 10vh;
}

.language {
    padding: 3px 20px;
    font-weight: 400;
    color: red;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;

}

.Sign {
    background-color: red;
    color: white;
    padding: 3px 20px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.SubContainer {
    height: 6vh;
    width: 30%;
    background-color:#1c0e0e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 2rem;
    color: rgb(255, 255, 255);

}
.SubContainer a{
text-decoration: none;
color: white;
}

/* movies page  */

.unlimted {
    height: 100vh;
    width: 100vw;
    background-color: rgb(44, 36, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.subUnlimted {
    height: 80%;
    width: 90%;
    position: relative;
    color: white;
    border: 2px solid rgb(44, 36, 36);
}

.subUnlimted img {
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.subBox {
    width: 40%;
    position: absolute;
    top: 25%;
    left: 35%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: x-large;

}

.para1 {
    font-size: x-large;
}

.para2 {
    font-size: large;
}

.textPlace {
    height: 40px;
    width: 55%;
    font-size: medium;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(86, 80, 78);

}

.btnGet {
    height: 60px;
    width: 35%;
    font-size: x-large;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    background-color: red;
    color: white;
}

/* tranding page */
.tranding {
    height: 100vh;
    width: 100vw;
    background-color: rgb(44, 36, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 30px;
}

.trBox1 {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgContainer {
    height:100%;
    display: flex;
    gap: 35px;
    overflow-x: scroll;
    scrollbar-width:thin;
}

.imgBox {
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
}

.fixImg {
    height:35vh;
    width:12vw;
    border-radius: 20px;
}
.trBox2 {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textContainer {
    height:100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.textContainer a{
    text-decoration: none;
}
.textBox {
    height:27vh;
    width:15vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 69, 162);
    color: white;
    gap: 10px;
    padding:30px;
    border: 1px solid rgb(27, 27, 180);
    border-radius: 15px;
}

/* reasons page  */
.reasons{
    height:max-content;
    width: 100vw;
    background-color: rgb(44, 36, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 30px;
}
.reasonBox{
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reasonsContainer {
    height:100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.reasonText{
    height:25vh;
    width:20vw;
    background-color: rgb(74, 74, 84);
    color: white;
    padding:20px;
    border: 1px solid rgb(27, 27, 180);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reasonImg{
    height:40px;
    width: 40px;
    align-self: self-end;
}

/* Questions page */
.question{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 36, 33);
    color: white;
}
.questionContainer{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0px  30px 0px;
}
.questionContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sectionContent{
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(74, 74, 84);
}

.place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(44, 36, 33);
    color: white;

}
.placeBox2{
    width: 40vw;
}
.txt{
    height:40px;
    width:55%;
    font-size: medium;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color:rgb(22, 21, 21);

}
.placeBtn{
    height:60px;
    width:35%;
    font-size: medium;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    background-color: red;
    color: white;
}

/*footer section*/
.contact{
    display: flex;
    padding: 30px 0px 30px 0px;
    font-size: large;
    align-self: self-start;
    padding-left:10vw;
}
footer{
    background-color: rgb(44, 36, 33);
    color:white;
    width: 100vw;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer{
    display:flex;
    flex-direction:row;
    color: white;
    max-width: 80vw;
    height:max-content;
}
.footer-item{
    display: flex;
    flex-direction:column;
    gap: 20px;
    align-content:space-between;
    width: 100vw;
}
.footer a{
    color: white;
}
.languageSelection{
    width:90vw;
    height: 20vh;
    padding-left:10vw;
    background-color: rgb(44, 36, 33);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    color:white;

}
.eng{
    width: 110px;
    padding: 5px 10px 5px 10px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 19px;
    color: white;
}


